(function () {
    'use strict';

    angular
        .module('gaddum.player')
        .factory('playerService', playerService);

    playerService.$inject = [



    ];

    function playerService(


    ) {


        var service = {
            asyncGetSupportedMoodIds: asyncGetSupportedMoodIds,

        };


        return service;
    }





})();