<div id="gaddum-player" class="animated" ng-show="gpc.state.ready===true">
  <div id="scroller" class="animated" ng-show="gpc.state.ready===true">
    <div angular-marquee class="animated" scroll="gpc.state.hasTrack" duration="10000" id="songtitle">{{gpc.marquee.songtitle}}</div>
    <div angular-marquee class="animated" scroll="gpc.state.hasTrack" duration="10000" id="artistname">{{gpc.marquee.artistname}}</div>
  </div>
  <div id="gaddum-shuttle" class="button-bar">
    <button name="prev" class="button icon-left icon ion-skip-backward" ng-click="gpc.handleBackPress()">back</button>
    <button name="pause" class="button icon ion-pause icon-left" ng-click="gpc.handlePausePress()" ng-show="gpc.state.playing===true">pause</button>
    <button name="play" class="button icon ion-play icon-left" ng-click="gpc.handlePlayPress()" ng-show="gpc.state.playing!=true">play</button>
    <button name="next" class="button icon-left icon ion-skip-forward" ng-click="gpc.handleNextPress()">next</button>
  </div>
  </div>
</div>
