<style>
 #gaddum-player {
   position:absolute;
   left:8px;
   right:8px;
   background-color:rgba(255,255,255,.6);
   padding:0 0px 4px;
   margin: 0 -5px 4px;
   border-radius: 8px;
   bottom:50px !important;
   xheight:6rem;
 }
 div#scroller {
   display:inline-block;
   width:100%;
   position:relative;
   left:0;
   right:0;
   margin-bottom:2px;
   padding:2px 2px;
 }
 div#scroller  {
   text-align:center;
 }
 div#scroller>div {
   display:block;
   width:100%;
   clear:both;
   overflow: hidden;
   text-align: center;
 }
 div#gaddum-shuttle {
   margin:-6px 2px 0px 4px !important;
   padding-right:8px;
   left:4px;
 }

 /* enter/exit animations */

 div#gaddum-player {
   transition: all ease-in-out 1.5s;
 }
 div#gaddum-player.ng-hide {
   margin-bottom: -100%;
 }
 div#scroller {
   transition: all ease-in-out 2.5s;
 }
 div#scroller.ng-hide {
   opacity: 0;
 }
</style>
<div id="gaddum-player" class="animated" ng-show="gpc.state.ready===true">
  <div id="scroller" class="animated" ng-show="gpc.state.ready===true">
    <div angular-marquee class="animated" scroll="gpc.state.playing" duration="10000" id="songtitle">{{gpc.marquee.songtitle}}</div>
    <div angular-marquee class="aniamted" scroll="gpc.state.playing" id="artistname">{{gpc.marquee.artistname}}</div>
  </div>
  <div id="gaddum-shuttle" class="button-bar">
    <button name="prev" class="button icon-left icon ion-skipbackward" ng-click="gpc.handleBackPress()">back</button>
    <button name="pause" class="button icon ion-pause icon-left" ng-click="gpc.handlePausePress()" ng-show="gpc.state.playing===true">pause</button>
    <button name="play" class="button icon ion-play icon-left" ng-click="gpc.handlePlayPress()" ng-show="gpc.state.playing!=true">play</button>
    <button name="next" class="button icon-left icon ion-skipforward" ng-click="gpc.handleNextPress()">next</button>
  </div>
  </div>
</div>
