<ion-view ng-hide="vm.busy" class="hasHeader hasFooter profileDirective"  can-swipe-back="false" ng-cloak>
  <h1 id="nameHeader">{{vm.name}}</h1>
  <div id="genreScroll" ng-hide="vm.scrollGenre===false" ng-cloak>
    <p class="genres" id="genresText">
      <span>
        {{vm.displayGenres}}
      </span>
    </p>
    <p class="genres genres2">
      <span>
        {{vm.displayGenres}}
      </span>
    </p>
  </div>
  <div id="genreStatic" ng-hide="vm.scrollGenre">
    <p  class="genres">
      <span style="padding-left:5px; animation: none;">
        {{vm.displayGenres}}
      </span>
    </p>
  </div>
  <canvas class="profileImageCanvas" ng-click="vm.profileEdit()" id="profileImage" ng-hide="vm.userProfile.avatar_graphic.colour=='#000000'"
    ng-init="vm.createProfileGraphic()" height=80 width=80
    ></canvas>
  <div class="qrdiv" ng-hide="vm.busy" id="qrCodeDiv">
    <qrcode  data={{vm.encodedProfile}}  ng-click="vm.showQR()"></qrcode>
  </div>
<!-- <ion-footer-bar align-title="left" class="bar-assertive profileFooter">
  <div class="buttons">
    <button class="button" ng-click="vm.profileEdit()">Edit</button>
  </div>
  <h1 class="title">Profile</h1>
</ion-footer-bar> -->
</ion-view>
