
<div class="modal profileImageEditModal" id="profileImageEditModal" ng-controller="editImageModalController as vm">
  <div id="profileEditWrapper">
    <div id="canvas_holder">
    </div>
  </div>

  <div class="button-bar" id="editImageModalControls">
    <a class="button button-small" ng-click="vm.handle_clear();">clear</a>
    <a class="button button-small" ng-click="vm.handle_invert();">invert</a>
    <a class="button button-small button-positive" ng-click="vm.handle_save()">save</a>
  </div>

  <div id="colour-picker" style="width:100%;background-color:silver;">
    <button class="button icon-left ion-chevron-left button-clear button-dark" ng-click="vm.prevColour();"></button>
    <div id="colour-name" ng-style="vm.colourStyle" ng-content="{{vm.colourChoices[vm.colourChoice][0]}}"></div>
    <button class="button icon-right ion-chevron-right button-clear button-dark" ng-click="vm.nextColour();"></button>
  </div>


</div>
