
<div class="modal profileImageEditModal" id="profileImageEditModal" ng-controller="editImageModalController as vm">
  <div id="profileEditWrapper">
    <div id="canvas_holder">
    </div>
  </div>

  <div class="button-bar" id="editImageModalControls">
    <a class="button button-small" ng-click="vm.handle_clear();">clear</a>
    <a class="button button-small" ng-click="vm.handle_invert();">invert</a>
    <a class="button button-small button-positive" ng-click="vm.handle_save();">save</a>
  </div>

  <div id="canvas_colour_holder" >
    <img src="img/colours.png" />
  </div>

</div>
