<div class="modal modalGenresCheckboxes" ng-controller="genresCheckboxModalController as vm" id="modalGenresCheckboxes">

  <ion-content has-header="true" padding="true" scroll="false">

    <div id="contianer" >
        <div class="bar bar-header bar-light">
            <h1 class="title">Select Genres</h1>
            <button class="button button-icon " ng-click="vm.returnData()"></button>
          </div>
      <ion-content  id="genreslist" scroll="true" class="has-header">
        <ion-list id="genresCheckboxlist" ng-init="vm.matchCheckboxes()">
          <ion-item ng-repeat="genre in vm.params[0].allGenres.genres">
            <ion-checkbox id="checkbox_{{genre.genre}}" color="primary" slot="end" value="{{genre.genre}}" style="border-width: 0px;" ng-click="vm.modalGenreUpdate($index)" ng-modal="genre.value">{{genre.genre}}
            </ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-content>
    </div>

  </ion-content>
</div>