<div class="modal modalProfileEdit" ng-controller="profileEditModalController as vm">
  <ion-content has-header="true" padding="true" scroll="false">
    <h1 id="profileEditModalName">Your Name</h1>
    <div id="profileEditModalRerollNameDiv">
    <h2 id="avatarName">{{vm.fullName}} </h2>
    <button
        class="button ion-refresh button-positive" ng-click="vm.newName()" id="rerollNameBtn"></button>
      </div>
    <h2 id="profileEditMusicHeader">Your Music</h2>
    <button class="button button-stable icon-right ion-arrow-down-b" ng-click="vm.showGenreCheckboxModal()" id="genreToggle">
      {{vm.genresAsString}}</button>
    <br>
    <button id="showImageEditBtn" class="button button-stable icon-right ion-edit ion-text-center" ng-click="vm.profileImageEdit()"></button>
    <canvas class="editPageProfileCanvas" ng-attr-id="q"
    ng-init="vm.createProfileGraphic(vm.profile.profile_id)" height=160 width=160
     ng-click="vm.profileImageEdit()"></canvas>
   <!--  <div style="position:absolute; bottom:5%; width: 100%;">
    </div> -->

    <p id="profileEditNameTooltip"class="icon ion-arrow-up-a" ng-show="vm.defaultName" ng-hide="!vm.defaultName"><br>Tap here to roll a new name</p>

<p id="profileEditImageTooltip"class="icon ion-arrow-up-a" ng-show="vm.defaultImage" ng-hide="!vm.defaultImage"><br>Tap here to edit your profile image</p>

    

    <ion-footer-bar align-title="left" class="bar" style="position:absolute; bottom:0%; width: 100%; background-color: transparent">
      <div class="bar bar-footer" style="background-color: transparent">
        <button class="button button-assertive" ng-click="vm.cancel()" >Cancel</button>
      <!-- </div>
      <h1 class="title"></h1>
      <div class="buttons"> -->
        <button class="button button-balanced pull-right" ng-click="vm.returnData()" ng-enabled="vm.defaultName!=true||vm.defaultImage!=true" >Done</button>
      </div>
    </ion-footer-bar>




  </ion-content>
</div>
