<div class="item item-button-right playlistsSearch">
  <input type="text" name="searchPlaylistsInput" id="searchPlaylistsBox" class="searchPlaylistsBox" value="Search"
    ng-click="vm.searchClick()" ng-blur="vm.searchDeselect()" ng-init="vm.searchColour()">
  <div ng-hide=!vm.busy class="browseSpinner">
    <ion-spinner class="" paused="true" name="circles"></ion-spinner>
  </div>
  <button class="button button-assertive search" id="searchPlaylistsButton" ng-click="vm.searchPlaylists()">
    <i class="icon ion-search"></i>
  </button>
</div>


<div>
  <ion-content class="playlistPageListContent">
    <ion-list class="list">
      <ion-item ng-repeat="playlist in vm.playlistsToShow" ng-class-odd="'listodd'" ng-class-even="'listeven'"
         can-swipe="true" class="item-remove-animate item item-complex"
        ng-touchstart="vm.preventSlideBox($event)" ng-touchend="vm.allowSlideBox($event)" ng-mousedown="vm.preventSlideBox($event)"
        ng-mouseup="vm.allowSlideBox($event)" ng-click="vm.viewPlaylist({{$index}})" class="playlistPageItemRepeat">
        <h2>{{playlist.name}}</h2>
        <!-- <h2>test</h2>
      <h2>testtest</h2> -->
        <!-- <p>{{.description}}</p> -->
        <ion-option-button class="button-positive icon ion-play" ng-click="vm.playPlaylist({{$index}})">
          <div class="playlistTextInButton">
            <p>Play</p>
          </div>
        </ion-option-button>
        <ion-option-button ng-disabled="vm.busy" class="button-energized icon ion-navicon-round" ng-click="vm.viewPlaylist({{$index}})">
          <div class="playlistTextInButton">
            <p>View</p>
          </div>
        </ion-option-button>
        <ion-option-button class="button-info icon-bottom ion-trash-b" ng-click="vm.removePlaylist({{$index}})">
          <div class="playlistTextInButton">
            <p style="left:-8px">Remove</p>
          </div>
        </ion-option-button>

        <!-- <ion-delete-button class="ion-minus-circled" ng-click="s.splice(, 1)">
      </ion-delete-button> -->
        <!-- <ion-reorder-button class="ion-navicon" on-reorder="s.splice(, 1);s.splice(, 0, );">
      </ion-reorder-button> -->
      </ion-item>
    </ion-list>
  </ion-content>
</div>











<!-- <ion-footer-bar align-title="left" class="bar-assertive profileFooter">
  <div class="buttons">
    <button class="button" ng-click="vm.profileEdit()">Edit</button>
  </div>
  <h1 class="title">Profile</h1>
</ion-footer-bar> -->
</ion-view>