<form action="/action_page.php">
    <select name="emotion">
      <option value="Physical">Physical</option>
      <option value="Tired">Tired</option>
      <option value="Angry">Angry</option>
      <option value="Peaceful">Peaceful</option>
      <option value="Focused">Focused</option>
      <option value="Bored">Bored</option>
      <option value="Happy">Happy</option>
      <option value="Sad">Sad</option>
      <option value="Crazy">Crazy</option>
      <option value="restful">restful</option>
    </select>
    <br><br>
    <input type="submit">
</form>
