
<div class="modal loginModal" ng-controller="loginModalController as ac">
  
    <ion-content>
    <div style="width:100%;">
          
      <h3 class="modalTitle">Login</h3>
    </div>
  <div class="hasHeaderExtra">

  <button  ng-click="ac.showSelector()" class="modalSelector" ><span class="selectSpan">{{ac.selectedNamedIdentifier.name}} </span><img src="css/arrow-down-b.svg" class="littleSelectArrow" /></button>
    <div style="margin-top:100px; text-align:center;">
      <button ng-disabled="!ac.loginEnabled" class="button selectButtonLogin" ng-click="ac.asyncLogin()">login</button>
   </div>
   <ion-spinner class="loginSpinner" ng-hide="!ac.busy" paused="true" name="circles" ></ion-spinner>
    </div>
  </ion-content>
  </div>
 
</div>