<div class="modal addToPlaylistWizard" ng-controller="addToPlaylistModalController as mc">

  <ion-content ng-hide="!mc.state">

    <div style="width:100%;">

      <h3 class="modalTitleAddPlaylist">Add to Playlist</h3>
    </div>
    <ion-content class="addToPlaylistListDiv">
      <ion-list>
        <ion-item ng-class-odd="'listodd'" ng-class-even="'listeven'" class="addToPlaylistList" ng-repeat="playlist in mc.displayArray"
          can-swipe="true" class="item-remove-animate item item-complex" ng-touchstart="vm.preventSlideBox($event)"
          ng-touchend="vm.allowSlideBox($event)" ng-mousedown="vm.preventSlideBox($event)" ng-mouseup="vm.allowSlideBox($event)"
          ng-click="mc.playlistSelected($index)">
          <h2 class="addToPlaylistNameText">{{playlist.name}}</h2>
          <input class="playlistCheckbox" type="checkbox" ng-model="playlist.value" ng-change="mc.playlistSelected($index)"></input>

        </ion-item>
      </ion-list>
    </ion-content>
    <ion-footer-bar>
      <button ng-click="mc.close()" class="button addToPlaylistButtonLeft">Cancel</button>
      <button ng-click="mc.createPlaylist()" class="button button-calm addToPlaylistButtonCenter">New</button>
      <button ng-click="mc.changeState()" class="button button-balanced addToPlaylistButtonRight" x-ng-disabled="mc.itemSelected===false" ng-disabled="mc.isNextDisabled">{{mc.isNextDisabled}}-Next</button>
    </ion-footer-bar>
  </ion-content>

  <ion-content ng-hide="mc.state" class="howAreYouModal">

    <div style="width:100%;">

      <h3 class="modalTitleAddPlaylist">add To Playlist</h3>
    </div>
    <div class="addToPlaylistTextDiv">
      <p class="addToPlaylistText">You're going to add to a playlist.</p>
      <p class="addToPlaylistText">Are You Sure?</p>
    </div>
    <ion-footer-bar>
      <button ng-click="mc.changeState()" class="button button-calm addToPlaylistButtonLeft">Previous</button>
      <button ng-click="mc.close()" class="button addToPlaylistButtonCenterTwo">Cancel</button>
      <button ng-click="mc.add()" class="button button-balanced addToPlaylistButtonRight">Yes</button>
    </ion-footer-bar>
  </ion-content>
</div>
