<ion-view style="z-index:1000 !important; background-size: 100%;" ng-show="vm.visible===true" >
    <ion-header-bar align-title="center" class="bar-clear">
        <h1 class="title">Gaddum-Permissions</h1>
    </ion-header-bar>
    <ion-content class="padding light has-header" style="padding-top: 0px !important;">
      <ion-list ng-hide="vm.permissions == false"></ion-list>
          <div class="list card" ng-hide="vm.permissions.camera.hasPermission">  
            <div class="item  ">
              <h2>Camera</h2>
              <p>Permissions</p>
            </div>
            <div class="item item-body">
              <p>
                {{vm.permissions.camera.reason}}
              </p>
              <button
                class="button button-block button-positive"
                
                ng-click="vm.requestPermission('camera')"
              >
                Request Permission
              </button>
              <div ng-show="(vm.permissions.camera.deniedAlways)">
                <i class="icon ion-alert-circled assertive"></i>
                This permission has been always denied. You must find this app in your device settings and allow access to the listed permissions to preceed.
              </div>
            </div>
          </div>
          
          <div class="list card" ng-hide="vm.permissions.location.hasPermission">
            <div class="item  ">
              <h2>Location</h2>
              <p>Permissions</p>
            </div>
            <div class="item item-body">
              <p>
                {{vm.permissions.location.reason}}
              </p>
              <button
                class="button button-block button-positive"
                ng-disabled="(vm.permissions.location.deniedAlways)"
                ng-click="vm.requestPermission('location')"
              >
                Request Permission
              </button>
              <div ng-show="(vm.permissions.location.deniedAlways)">
                <i class="icon ion-alert-circled assertive"></i>
                This permission has been always denied. You must find this app in your device settings and allow access to the listed permissions to preceed.
              </div>
            </div>
          </div>
<!--
          <div class="list card" ng-hide="(vm.permissions.write_storage.hasPermission)">
            <div class="item  ">
              <h2>File Store</h2>
              <p>Permissions</p>
            </div>
            <div class="item item-body">
              <p>
                {{vm.permissions.write_storage.reason}}
              </p>
              <button 
                class="button button-block button-positive"
                ng-disabled="(vm.permissions.write_storage.deniedAlways)"
                ng-click="vm.requestPermission('write_storage')"
              >
                Request Permission
              </button>
              <div ng-show="(vm.permissions.write_storage.deniedAlways)">
                <i class="icon ion-alert-circled assertive"></i>
                This permission has been always denied. You must find this app in your device settings and allow access to the listed permissions to preceed.
              </div>
            </div>
          </div>
-->
      </ion-list>
    </ion-content>
</ion-view>
