<div>


  <div class="moodElementsDiv">
    <div style="text-align: center" class="moodArrow">
      <span><img src="css/Down_arrow.svg" style="width:50px"/></span>
    </div>
    <div style="text-align: center" class="moodArrow2">
        <span><img src="css/Down_arrow.svg" style="width:50px"/></span>
      </div>
    <!-- <div ng-hide=false id="moodCameraState" ng-model="scope" style="text-align: center" class="moodCamera">
      <span ng-show="vm.cameraError===true">❌</span>
      <span ng-show="vm.cameraError!=true  && vm.isRunning===false">
          <p style="font-family: fantasy;">{{vm.moodDisplay.emoji}}</p>
          <p style="
                  font-size: 12px;
                  top: 70px;
                  position: absolute;
                  left: 28%;
                  font-weight: 600;
                  ">press
            me!!
          </p>
      </span>
      <span ng-show="vm.cameraError!=true  && vm.isRunning===true && vm.faceDetected!=true">📸</span>
      <span ng-show="vm.cameraError!=true  && vm.isRunning===true && vm.faceDetected===true">👍</span>
    </div> -->

    <div ng-hide=true style="text-align: center">
      <canvas id="canvas" style="border: 3px solid #d3d3d3;width:320px; height:250px"></canvas>
    </div>

    <div ng-click="vm.wake()" class="moodEmoji textShadow">
      <span ng-show="vm.cameraError===true">
        <p class="moodEmojiText">Whoops No Camera
        </p>
      </span>
      <span ng-show="vm.cameraError!=true  && vm.detecting===false">
        <p style="font-family: fantasy;">{{vm.moodDisplay.emoji}}</p>
        <p style="
                    font-size: 20px;
                    top: 60px;
                    position: absolute;
                    left: 21%;
                    font-weight: 600;
                    ">Press
          Me!
        </p>
      </span>
      <span ng-show="vm.cameraError!=true  && vm.detecting===true && vm.faceDetected!=true">
        <p class="moodEmojiText">Finding Your Face
        </p>
      </span>
      <span ng-show="vm.cameraError!=true  && vm.detecting===true && vm.faceDetected===true">
        <p class="moodEmojiText">Hello How Are You?
        </p>
      </span>
    </div>
    <!-- <div ng-hide=!vm.detecting class="moodSpinnerDiv">
      <ion-spinner class="moodSpinner" paused="true" name="circles"></ion-spinner>
    </div> -->
    <!-- <div ng-click="vm.wake()" class="button button-balanced moodCameraButton " style="border:0.2rem black solid;" >
      <img src="css/icons8-camera.svg">

    </div> -->
    <!-- <img src="css/arrow-downv1.svg" ng-click="vm.sleep()" class="moodDownArrow" /> -->
    <!-- <img src="css/arrow-upv1.svg" ng-click="vm.wake()" class="moodUpArrow" /> -->
    <button ng-disabled="vm.disableButton" ng-click="vm.selectModal()" class="moodSelect "><span class="selectSpan">{{vm.moodDisplay.id}}
      </span><img src="css/arrow-down-b.svg" class="littleSelectArrow" /></button>
    <button ng-disabled="!vm.emotionSelected" ng-click="vm.playMood()"
      class="moodPlay "><span class="selectSpan">That's
        Me </span></button>
  </div>
  <!-- this is jankey ng-hide didnt work with css transition so we hide the element(visablity:hidden) slow fade -->
  <!-- <div ng-click="vm.removeHelpTips()" ng-class="{fade:vm.helpTips}">
      <div class="makePlaylistPositionDiv help-bubble moodUpArrow"
      style="margin-top:-9rem; margin-left:-5%;" 
      ng-click="vm.removeHelpTips()">
        <p class="triangle-border ">Tap this arrow, and we'll use the selfie camera to guess your mood from your expression.</p>
        <span class="bubble2-after"></span>
      </div>
      <div class="tryAgainPositionDiv help-bubble " 
      style="margin-right:-5%;"
      ng-click="vm.removeHelpTips()">
        <p class="triangle-border top">Did we get it right? Tap this arrow to play, or use the menu above to just choose a mood.</p>
        <span class="bubble2-after"></span>
      </div> -->
</div>
<!-- </ion-view>-->