
<div class="modal aboutModal" ng-controller="settingsModalController as sc">
  
    <ion-content>
    <div style="width:100%;">
          
      <h3 class="modalTitle">Settings</h3>
    </div>
  <div class="hasHeaderE">
   <ion-list class="checkboxSettings" can-swipe="true">
      <ion-item class="checkboxItem item-checkbox-right" ng-repeat=" setting in sc.settings " >
        
        
        <ion-checkbox ng-model="setting.value" ng-change="sc.changed(setting.id, setting.value, setting.type)" class="checkbox item-checkbox-right">{{setting.friendly_name}}</ion-checkbox>
      
      </ion-item>
      </ion-list>
    </div>
  </ion-content>
  </div>
 
</div>